<mat-toolbar color="warn" layout="row"  layout-sm="column" flex layout-wrap>
    <mat-accordion layout="row" layout-align="start center" flex>
        <mat-expansion-panel layout="row" layout-align="start center" flex>
          <mat-expansion-panel-header>
            <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
              Иван Администартор
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</mat-toolbar>