<mat-accordion  layout="row" layout-align="start center" flex>
    <mat-expansion-panel layout="row" layout-align="start center" flex>
      <mat-expansion-panel-header>
        <mat-panel-description style="color: aliceblue;">
          <mat-list-item >

             <div matListItemTitle>Суперагент</div>
             <div matListItemLine>Банк ВТБ(ПАО)</div>
          </mat-list-item>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>

<mat-list>
    <mat-list-item >
      <mat-icon matListItemIcon style="color: aliceblue;">work</mat-icon>
      <div matListItemTitle style="color: aliceblue;">Управление</div>
      <div matListItemLine style="color: aliceblue;">asdasd</div>
    </mat-list-item>
    <mat-list-item >
      <mat-icon matListItemIcon style="color: aliceblue;">account_circle</mat-icon>
      <div matListItemTitle style="color: aliceblue;">Субагенты</div>
    </mat-list-item>
  </mat-list>